doctype html
html
  head
    title Mohit Dance Academy
    block scripts
    block style
  body
    nav#navbar 
        ul 
         div#logo
           img(src="/static/img/d.png")
           | MDA
         li #[a(href='/') Home ]
         li #[a(href='/') About us]
         li #[a(href='/') Contact Us]
         li #[a(href='/') Services]
  block content
    footer#footer   
     | Copyright © 2022MohitAcademy.com | All Rights Reserved
     